# URI de la base de donnée 
DATABASE_URI=sqlite:///digimarket.db

# Dédiée à l'authentification (`openssl rand -base64 32 | tr -d '\ n'`)
JWT_SECRET_KEY=

# Pour sécurier les sessions Flask (`openssl rand -base64 64 | tr -d '\ n'`) - https://flask.palletsprojects.com/en/stable/config/#SECRET_KEY
SECRET_KEY=
